.fluid-footer {
  background-color: #000000;
  padding-top: 100px;
  margin-bottom: 100px;
}

.my-footer-logo-lockup {
  color: #666666;
  padding-top: 5px;
  position: relative;

}

.my-footer-position-1 {
  position: absolute;
  right: 50px;
}

.my-footer-position-2 {
  position: absolute;
  top: 30px;
  right: 65px;
}

.my-footer-nav {
  list-style-type: none;
}
