.resp-nav {
    background: transparent;

}
.jumbotron {
  background-image: url(./design-assets/hero.jpg);
background-size: cover;
}




.features {
  font-weight: 100;
  font-size: 20px:
}

.btn-primary { background-color: red; }

.btn-primary:hover { background-color: #8B0000; }

html,body {
  height: 100%; margin: 0px; padding: 0px; }

.navbar {
  background-color: transparent;
}

.alert {
  border-radius: 0; }

.my-container {
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Header Logo*/

.jumbotron {
  padding: 2rem;
  background-color: light blue;
}

.nav-header {
  float: right;
}

.relative {
  position: relative;
  z-index: 6;
}

.my-header-position-1 {
  position: absolute;
  left: 1.5rem;
  top: 2rem;
}

.my-header-position-2 {
  position: absolute;
  top: 3.7rem;
  left: 215px;
}

.my-header-position-3 {
  position: absolute;
  left: -15px;
}

a:link {
  padding-right: 20px;
}

a:active {
  color: black;
}

.absolute {
position: absolute;
top: 2rem;
}


/*find Your Style*/



.fys-headline {
  margin-bottom: .3rem;
  background-color: #f8f9fa;
}

.card-row {
  margin: none;
}

.my-card {
  border-color: #ffffff;
  border-width: 5px;
padding-top: 50px;
padding-bottom: 50px;
background-color: #f8f9fa;
}

.my-card-2 {
padding-top: 50px;
padding-bottom: 50px;
background-color: #f8f9fa;
border-color: #ffffff;
border-width: 5px;
}

.card-row-right {
  margin-left: 50 !important;
}

.card-row-left {
  margin-right: 0 !important;
}

.my-link {
    color: white;
}

.my-link:hover {
    color: white;
}

.my-row {
  border:2px solid blue;
}

.nav-float {
  float: right;
}

.my-column {
  align-items: center;
  border: none;
}

.my-box {
     background-color: BLACK;
     height: 500px;
     width: auto;
     padding-top: 100px;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
 }

 .nav-link {
     text-decoration-color: white;
 }

 .absolute {
   position: absolute;
   bottom:10px;
   left: 70px;
}

.absolute-2 {
  position: absolute;
  bottom:10px;
  left: 100px;
}

.relative {
  position: relative;
  padding: 0px;
}

.circle {
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.make-fit
{
  background-color:#666;
  display:inline-block;
}

nav-footer {
  color: white;
  left: 0px;
  width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #none;
}


/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

 /*li a {
  color: white;
}

/* unvisited link */
a:link {
  color: white;
}


.my-features {
  background-image: url('design-assets/features-background.jpg');
  background-repeat: round;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 50px;
  height: 900px;
}

.features-list {
  margin-bottom: .25em;
}

.my-list-group {
  background-color:transparent;
  border: none;
  padding: 1px;
}

.my-hr {
    border-top: 4px solid white;
    margin-top: 25px;
    margin-bottom: 50px;
  }

.audio-sunglasses {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Footer */

.fluid-footer {
  background-color: #000000;
  padding-top: 100px;
  padding-left: : 100px;
  margin-bottom: 100px;
}

.my-footer-logo-lockup {
  color: #666666;
  padding-top: 5px;
  position: relative;

}

.my-footer-position-1 {
  position: absolute;
  right: 50px;
}

.my-footer-position-2 {
  position: absolute;
  top: 30px;
  right: 62px;
}

.my-footer-nav {
  list-style-type: none;
}


media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
