/*Instagram*/

.absolute-1 {
  position: absolute;
  bottom:10px;
  left: 50px;
}

/*Footer*/

/*Footer*/

.footer-box {
margin-top: 15px;
background-color:#000000;
padding: 50px;
line-height: 10px;
}

.logo-lockup {
  font-size: 14px;
  position: absolute;
  color: white;
  top: 30px;
  right:22px;
}

a{
  color:white;
  line-height: 10px;
}

a:hover{
  color #666666;
}

h6 {
  color: white;
}