/*Hero*/

.jumbotron {
  color: white;
  background-image: url("design-assets/hero.jpg");
  background-size: cover;
  padding-left: 3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.my-header-position-2 {
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 185px;

}



/*Features*/

.feature-container {
height: 100%;
}

.my-list-group {
  background-color:transparent;
  border: none;
  padding: 1px;
}

.bg {
  background-image: url("design-assets/features-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  margin-bottom: 15px;
  padding-top: 20px;
  background-position: bottom;
  position: relative;
}

@media only screen and (max-width: 479px) {
  .bg {
    background:none;
   }
}

.compatible {
 display: inline-block;
 justify-content: center;
 align-items: center;
}

.features {
  font-size: 20px;
}

.logos-compatibility {
  height: 400px;
}
 
/*Instagram*/

.absolute-1 {
  position: absolute;
  bottom:12px;
  left: 67px;
}
.social-icon {
  margin-right: 10px;
}

/*Footer*/

/*Footer*/

.footer-box {
margin-top: 15px;
background-color:#000000;
padding: 50px;
line-height: 10px;
}

.logo-lockup {
  font-size: 14px;
  position: absolute;
  color: white;
  top: 30px;
  right:22px;
}

a:link {
  color:white;
  line-height: 10px;
  text-decoration: none;
}


h6 {
  color: white;
}